* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.prezzo {
    display: none;
}

.myBorder {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.myHover:hover {
    background-color: lightgray;
}