* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.prezzo {
    display: none;
}

.myBorder {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.myHover:hover {
    background-color: lightgray;
}

button {
    padding:3px;
}

.myColor:focus {
    background-color: brown;
    color: white;
}

.myColor:focus::placeholder {
    color: white;
}

.myCR {
    color: brown;
}